#title{
    background-color: #d4f8e8;
    text-align: center;
    margin-bottom: 6%;
    
}

#abcforh1{
    padding: 4% 1% 0 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #1eb2a6;
}

#abcforh2{
    color: #2dccb2;
    padding-bottom: 3%;
}


.abcforh3{
    font-family: 'Sen', sans-serif;
    color: #5f6769;
    font-size: 1.5rem;
}

.blk{
    text-align: center;
    margin-bottom:8%;
    
}

.videoA{
    width: 80%;
    height: 70%;
    padding: 2%;
}

.link1{
    font-size: 1.3rem;
    padding: 2%;
    display: inline-block;
}

#my-blocks{
    padding: 0 3%;

}

a{
    color: black;
}

a:hover{
    color: #1eb2a6;
}

#footer
{
    font-family: 'Sen', sans-serif;
    font-weight: 700;
    color: #5f6769;
    background-color: #d4f8e8;
    text-align: center;
    padding: 5%;
    font-size: large;
}

/* MODAL */
